body {
    background-color: rgb(228, 157, 235);
    padding-top: 15px;
    text-align: center;

}

.mySlides {
    background-color: rgb(228, 157, 235);
    max-width: 1600px;
}
.container {
  position: relative;
}
