*{ 
	margin: 0;
	padding: 0;
	font-size: 20px;
	box-sizing: border-box;
}

body{
  	margin: 0;
	color:black;
	background-color:rgb(174, 181, 245);
}

div{
	margin: auto;
}

.main{
	
	display: flex;
	flex-direction: column;
	border: 7px;
	background-color:rgb(174, 181, 245);
	width: 70vw;
    	justify-content: space-between;
   	 align-items: center;
    	margin-bottom: 1vh;
	
}
.article{
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color:rgb(174, 181, 245);
	height: 200px;
	border: 7px;
}

article, div{
	margin: auto;
	border: 7px;
	background-color:rgb(174, 181, 245);
	min-height: 20px;
	width: 80%;
	text-align: center;
}

#header{
	width: 100%;
	height: 150px;
	display: flex;
 	flex-direction: column;
	min-height: 100px;
	background-color: rgb(228, 157, 235);
   	align-items: center;
    	justify-content: space-evenly;
   	padding: 5px;
}

.nav{
	width: 100%;
	height: 200px;
	background-color: rgb(228, 157, 235);
	margin: 0;
	flex-direction: column;
	justify-content: space-evenly;
	border: 7px;
}

#logotype{
	height: 125px;
	width: 175px;
	float: left;
	margin-left: 5%;
	margin-top:12.5px;
}

#name{
	display: inline;
	float: left;
	padding-left: 40px;
	line-height: 165px;
	font-weight: 700;
	font-size: 1.25em
}


.tbody{
	color:black;
	background-color:rgb(174, 181, 245);
	text-align: center;
}

.page-article{
	max-width: 960px;
	border: 3px solid #000000;
	margin-left: 90%;
	background-color:rgb(174, 181, 245);
}

.page-article li {
	display: inline-block;
	margin: 5px 30px 0 0;
	width: 250px;
	border: 3px solid #32a852;
	padding: 10px;
	border: 2px solid #000000;
}


.link{
	margin: 0 auto;
	flex-direction: column;
	text-align: center;
}

.li{
	margin:10px auto;
	text-align: center;
}

.ul{
	margin: 0 auto;
	display:inline-flex; 
	list-style-type: none;
	text-align: center;
}

.a{
	max-width: 960px;
	display: block;
	width: 100%;
	min-height: 20px;
	padding: 25px 0;
	color: #000000;  
}

a:hover{
  text-decoration: underline;
}

.header{
	background-color: rgb(70, 164, 157);
	border-bottom: 7px;
	text-align: center;
 }
 
.img {
	border: 5px solid #000000;
}

.header_cont {
	padding: 15px 10px 0 10px;
	clear: both;
}

.header_cont div {
	display: inline-block;
	padding: 25px 0 0 10px;
}

.link{
	margin: 0 auto;
	flex-direction: column;
}

.form{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
	background-color: rgb(245, 56, 157);
	text-align: center;
}

.table{
	display: block;
	margin: 15px 15px 15px 15px;
	display: inline-block;
	border-collapse: rgb(92, 244, 255);
      
 }

th, td{
	border: 1px solid black;
	text-align: center;
 } 

tr:nth-child(even){
	background-color: rgb(92, 244, 255);
}

.footer{
	display: block;
	background-color: rgb(162, 110, 229);
	text-align: center;
} 

.main1{
	order: 1;
}
.main2{
	order: 2;
}
.main3{
	order: 3;
}

@media screen and (min-width: 960px) {
	body{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	header, main, footer{
		flex: 1;
	}
	
	.header {
		flex-wrap: wrap;
		flex-direction: row;
		allign-items: center;
	}
	.main {
		display: flex;
		flex-direction: column;
	}

	
	.main1 {
        	order: 1;
    	}
    	.main2 {
       	 	order: 3;
   	 }
    	.main3 {
       		order: 2;
   	 }


	
	.link{
		min-width: 960px;
	}
	.nav {
		flex-direction: row;
		height: 100px;
		width: 960px;
		margin: 0;
	}
	
	nav div {
		height: 60px;
		width: 25%;
		margin: 15px 0;
	}
	#head {
		flex-direction: row;
		height: 100px;
		width: 960px;
		margin: 0 auto;
	}
	.div {
		margin: 1;
	}






















	*{ 
	margin: 0;
	padding: 0;
	font-size: 20px;
	box-sizing: border-box;
}

body{
  	margin: 0;
	color:black;
	background-color:rgb(174, 181, 245);
}


div{
	justify-content: space-between;
   	align-items: center;
}

.main{
	
	display: flex;
	flex-direction: column;
	border: 7px;
	background-color:rgb(174, 181, 245);
	width: 70vw;
    	justify-content: space-between;
   	align-items: center;
    	margin-bottom: 1vh;
	
}
.article{
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background-color:rgb(174, 181, 245);
	height: 200px;
	border: 7px;
}

article, div{
	margin: auto;
	border: 7px;
	background-color:rgb(174, 181, 245);
	min-height: 20px;
	width: 80%;
	text-align: center;
}

#header{
	width: 100%;
	height: 150px;
	display: flex;
 	flex-direction: column;
	min-height: 100px;
	background-color: rgb(228, 157, 235);
   	align-items: center;
    	justify-content: space-evenly;
   	padding: 5px;

}

.nav{
	width: 100%;
	height: 200px;
	background-color: rgb(228, 157, 235);
	margin: 0;
	flex-direction: column;
	justify-content: space-evenly;
	border: 7px;
}

#logotype{
	height: 125px;
	width: 175px;
	float: left;
	margin-left: 5%;
	margin-top:12.5px;
}

#name{
	display: inline;
	float: left;
	padding-left: 40px;
	line-height: 165px;
	font-weight: 700;
	font-size: 1.25em
}


.tbody{
	color:black;
	background-color:rgb(174, 181, 245);
	text-align: center;
}

.page-article{
	max-width: 960px;
	border: 3px solid #000000;
	margin-left: 90%;
	background-color:rgb(174, 181, 245);
}

.page-article li {
	display: inline-block;
	margin: 5px 30px 0 0;
	width: 250px;
	border: 3px solid #32a852;
	padding: 10px;
	border: 2px solid #000000;
}


.link{
	margin: 0 auto;
	flex-direction: column;
	text-align: center;
}

.li{
	margin:10px auto;
	text-align: center;
}

.ul{
	margin: 0 auto;
	display:inline-flex; 
	list-style-type: none;
	text-align: center;
}

.a{
	max-width: 960px;
	display: block;
	width: 100%;
	min-height: 20px;
	padding: 25px 0;
	color: #000000;  
}

a:hover{
	text-decoration: underline;
}

.header{
	background-color: rgb(70, 164, 157);
	text-align: center;
 }
 
.img {
	border: 5px solid #000000;
}

.header_cont {
	padding: 15px 10px 0 10px;
	clear: both;
}

.header_cont div {
	display: inline-block;
	padding: 25px 0 0 10px;
}

.link{
	margin: 0 auto;
	flex-direction: column;
}

.form{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
	background-color: rgb(245, 56, 157);
	text-align: center;
}

.table{
	display: block;
	margin: 15px 15px 15px 15px;
	display: inline-block;
	border-collapse: rgb(92, 244, 255);
 }

th, td{
	border: 1px solid black;
	text-align: center;
 } 

tr:nth-child(even){
	background-color: rgb(92, 244, 255);
}

.main1{
	order: 1;
}
.main2{
	order: 2;
}
.main3{
	order: 3;
}
.footer{
	order: 4;
	display: block;
	background-color: rgb(162, 110, 229);
	text-align: center;
}

@media screen and (orientation: landscape){
	.main1 {
        	order: 1;
    	}
    	.main2 {
       	 	order: 2;
   	 }
    	.main3 {
       		order: 3;
   	 }
}

@media screen and (min-width: 960px) {
	body{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	header, main, footer{
		flex: 1;
	}
	
	.header {
		flex-wrap: wrap;
		flex-direction: row;
		allign-items: center;
	}
	.main {
		display: flex;
		flex-direction: column;
	}

	
	.main1 {
        	order: 1;
    	}
    	.main2 {
       	 	order: 3;
   	 }
    	.main3 {
       		order: 2;
   	 }

	
	.link{
		min-width: 960px;
	}
	.nav {
		flex-direction: row;
		height: 100px;
		width: 960px;
		margin: 0;
	}
	
	nav div {
		height: 60px;
		width: 25%;
		margin: 15px 0;
	}
	#head {
		flex-direction: row;
		height: 100px;
		width: 960px;
		margin: 0 auto;
	}
	.div {
		margin: 1;
	}
}
	footer {
		min-height: 60px;
	}
}




<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://Elli1234567890.github.io/Задание 3/style.css">
        <title>Задание 3</title>
    </head>
    <body>
            <header class="header">
                <div class="header">
                    <img id="logotype" src="https://github.com/Elli1234567890/Elli1234567890.github.io/blob/main/Задание%202/DSC06973.JPG?raw=true" alt="">
                    <a id="name">Поляна одуванчиков</a>
                </div>
            </header>
            <nav>
                    <a href="#form">Форма</a>
                    <a href="#table">Таблица</a>
                    <a href="#list">Список гиперссылок</a>
            </nav> 
        <br>
        <div class="main1">
            <div class="link" id="list">
                <article>
                    <h2>Список гиперссылок</h2>
                    <ul><a href="http://kubsu.ru">КубГУ</a></ul>      
                    <ul><a href="https://kubsu.ru/">КубГУ</a></ul>      
                    <ul><a href="http://kubsu.ru/"><img src="https://raw.githubusercontent.com/Elli1234567890/Elli1234567890.github.io/main/image.jpg" width="400" height="300" alt="Цветок"/></a></ul>
                    <ul><a href="/ooo.html">Сокращённая ссылка на внутреннюю страницу</a></ul>  
                    <ul><a href="#form">Фрагмент текущей страницы</a></ul>
                    <ul><a href="/#">Сокращённая ссылка на главную страницу</a></ul>      
                    <ul><a href="#node">Ссылка на фрагмент текущей страницы</a></ul>
                    <ul><a href="https://github.com/Elli1234567890/Elli1234567890.github.io/?parametr1=issues&parametr2=pulls&parametr3=actions">Ссылка с тремя параметрами в URL</a></ul> 
                    <ul>
                        <th id="s0177164"></th>
                        <a href="http://kubsu.ru/#s0177164" class="site" target="blank">Ссылка с параметром id в URL</a>
                    </ul>  
                    <ul><a href="yyy.html">Относительная ссылка на страницу в текущем каталоге</a></ul>
                    <ul><a href="../yyy.html">Относительная ссылка на страницу в каталоге уровнем выше текущего</a></ul>
                    <ul><a href="../../yyy.html">Относительная ссылка на страницу в каталоге двумя уровнями выше текущего</a></ul>
                    <ul><p>Контекстной считается <a href="https://info-master.su/programming/web/html/link-attributes.php#tabindex">ссылка</a>, размещенная в фрагменте текстового контента, в который она вписывается по смыслу.</p></ul>
                    <ul><a href=" https://ru.wikipedia.org/wiki/Python#Возможности">Ссылка на фрагмент страницы стороннего сайта</a></ul>
                    <ul>
                        <img src="https://i.pinimg.com/originals/8b/6c/b4/8b6cb430f1bd571e209c8a8d08e5a194.jpg" width="200" height="200" alt="Кубик" usemap="#mymap">
                        <map name="mymap">
                            <area shape="rect" coords="40,25,100,150" href="https://codeforces.net/problemset/problem/1872/G" alt="Круглая область">
                            <area shape="circle" coords="100,10,25" href="http://kubsu.ru/" alt="Прямоугольная область">
                        </map>
                    </ul>
                    <ul><a href>Ссылка с пустым href</a></ul>
                    <ul><a>Ссылка без href</a></ul>
                    <ul><a href="http://kubsu.ru/" rel="notfollow">Ссылка на КубГУ, по которой запрещен переход поисковикам</a></ul>
                    <ul><a href="http://kubsu.ru/" rel="notfollow">Ссылка на КубГУ, запрещенная для индексации поисковиками</a></ul>
                    <ul>Всё задание с ссылками и есть нумерованный список ссылок с подписями title</ul>  
                    <ul><a href="ftp://user:7851@example.com/myfile.zip">Несуществующий файл на сервере FTP</a></ul>
                </article>
            </div>
        </div>
        <div class="main2">
            <table class="table" id="table">
                <h2>Таблица</h2>
                <tr>
                    <th>Колонка 1</th>
                    <th>Колонка 2</th>
                    <th>Колонка 3</th>
                    <th>Колонка 4</th>
                </tr>
                <tr>
                    <td>Ячейка 11</td>
                    <td colspan="2" >Ячейка 12 объединенная с 13</td>
                    <td>Ячейка 12</td>
                </tr>
                <tr class="tab">
                    <td colspan="4" >Ячейка 21 объединенная с 22, с 23, с 24</td>
                </tr>
                <tr class="tab">
                    <td >Ячейка 31</td>
                    <td >Ячейка 32</td>
                    <td colspan="3">Ячейка 33 объединённая с 34</td>
                </tr>
                <tr>
                    <td>Ячейка 41</td>
                    <td>Ячейка 42</td>
                    <td rowspan="2">Ячейка 43 в объеднении с 53</td>
                    <td >Ячейка 44</td>
                </tr>
                <tr class="tab">
                    <td colspan="2">Ячейка 51 в объединении с 52</td>
                    <td >Ячейка 54</td>
                </tr>
            </table>
        </div>
        <div class="main3">
            <form action="https://www.example.com" method="POST" class="form" id="form">
                <h2>Форма</h2>         
                <label>
                    ФИО:<br>
                    <input name="field-text" placeholder="Трубиенко Татьяна Алексеевна" type="name">
                </label><br>
                <label>
                    Телефон:<br>
                    <input name="field-tel" placeholder="+7-123-45-67" type="email">
                </label><br>
                <label>
                    Email:<br>
                    <input name="field-email" placeholder="rinatiadzua@gmail.com" type="email">
                </label><br>
                <label>
                    Дата рождения:<br>
                    <input name="field-date" value="2000-01-01" type="date"><br>
                    Пол:<br>
                    <label>
                        <input type="radio" name="radio-1" value="М">
                        М
                    </label>
                    <label>
                        <input type="radio" name="radio-2" value="Ж">
                        Ж
                    </label>
                </label><br>
                <label>
                    Любимый язык программирования:
                    <br>
                    <select name="field-name[]" multiple="multiple" size="4">
                        <option value="Значение 1">Paskal</option>
                        <option value="Значение 2">C</option>
                        <option value="Значение 3">C++</option>
                        <option value="Значение 4">JavaScript</option>
                        <option value="Значение 5">PHP</option>
                        <option value="Значение 6">Python</option>
                        <option value="Значение 7">Java</option>
                        <option value="Значение 8">Haskel</option>
                        <option value="Значение 9">Clojure</option>
                        <option value="Значение 10">Prolog</option>
                        <option value="Значение 11">Scala</option>
                    </select><br>
                    Биография:<br>
                    <textarea> </textarea>
                </label><br>
                С контрактом ознакомлен(а):<br>
                <input type="checkbox" checked="checked" name="check-1"><br>
                <input type="submit" value="Сохранить">
        </form>
        </div>
        <footer class="footer" id="footer">
            <div class="footer_inner">
                <span>(c) Трубиенко Татьяна 2023</span>
            </div>
        </footer>
    </body>
</html>







